---
layout: default
---

<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-line"></div>
    <div class="profileWrapper">
        <div class="profile">
            <a href="https://github.com/Oizys18">

                <img class="profile-img"
                    src="https://avatars1.githubusercontent.com/u/37648340?s=460&u=84341e4aa76b8732d30b10d8b5cbc5a5917313b3&v=4"
                    alt="github_profile">
            </a>
            <div class="profile-text">
                <ul>
                    <li>
                        <h4>양찬우 - Oizys18</h4>
                    </li>
                    <li>
                        <h4>서울 거주🌇, 경영학사👨‍🎓, 주니어 개발자👨‍💻</h4>
                    </li>
                    <li>
                        <h4>취미: 👨‍💻 코딩, 🍞베이킹, 🕹게임, ✒글쓰기</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="profile-content"> 
        {{ content }}
    </div>
    <div class="profileWrapper">
        <div class="profile-contact">
            <h2>Contact Me!</h2>
            <h4>
                📞: 82+) 010-5338-8661
            </h4>
            <h4>
                📧: <a href="mailto:oizys18@gmail.com">
                    oizys18@gmail.com
                </a>
                /<a href="mailto:yangchanwoo@kakao.com">
                    yangchanwoo@kakao.com
                </a>
            </h4>
            <a href="https://www.notion.so/devcatfall/d32421df0a9744fbb8aef2a43326a47f">
                <button class="profile-link">노션 이력서</button>
            </a>
            <a href="https://github.com/Oizys18/chanu-cli">
                <button class="profile-link">CLI 형식 Resume</button>
            </a>
            <a href="https://steamcommunity.com/id/shark2011">
                <button class="profile-link">Steam 프로필</button>
            </a>
            <br>
        </div>
    </div>
</div>


<div style="border:0.01em solid black;border-bottom:none;" />